<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Website</title>
<!-- favicon -->
<link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
<!-- fontawesome.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
<!-- bootstrap.css -->
<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
<!-- style.css -->
<link rel="stylesheet" href="/assets/css/style.css">