<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../shared/head %>
</head>

<body>
    <% include ../shared/navbar %>
    <header class="product-header">
    </header>

    <section class="py-3">
        <div class="container">
            <h1>商品名稱</h1>
            <div>
                <span class="badge badge-primary">商品分類</span>
            </div>
            <h4>商品價格：</h4>
            <div class="form-group">
                <a href="/" class="btn btn-primary">回到首頁</a>
            </div>
        </div>
    </section>
    <% include ../shared/scripts %>
</body>

</html>