body {
    margin: 0px;
}

.header {
    padding: 150px 0px;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    border-radius: 0px;
    position: relative;
}

.header:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: .6;
    left: 0px;
    top: 0px;
    z-index: 1;
    transition: all .5s ease;
}

.header .container {
    position: relative;
    z-index: 3;
}

.header:hover:after {
    opacity: .3;
}

.product-header {
    width: 100%;
    height: 350px;
    background-color: #aaa;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.product-header:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: .6;
    left: 0px;
    top: 0px;
    z-index: 1;
    transition: all .5s ease;
}

.product-header:hover:after {
    opacity: .3;
}

#indexHeader {
    background-image: url('/assets/images/header-img.jpg');
}

#createHeader {
    background-image: url('https://picsum.photos/id/1041/1600/800');
}

#editHeader {
    background-image: url('https://picsum.photos/id/1042/1600/800');
}